
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <h3>Inicio</h3>
                <table class="table table-striped table-responsive -sm|-md|-lg|-xl" id="alugados"> <!--Tabela de livros-->
                    <caption>Livros Alugados</caption>
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Livro</th>
                        <th scope="col">Locação</th>
                        <th scope="col">Devolução</th>
                        <th scope="col">Diaria</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Funcionario</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <table class="table table-striped table-responsive -sm|-md|-lg|-xl" id="reservados"> <!--Tabela de livros-->
                    <caption>Livros reservados</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Livro</th>
                            <th scope="col">Reserva</th>
                            <th scope="col">Retirada</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <table class="table table-striped table-responsive -sm|-md|-lg|-xl" id="atrasados"> <!--Tabela de livros-->
                    <caption>Locações atrazadas</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Livro</th>
                            <th scope="col">Locação</th>
                            <th scope="col">Devolução</th>
                            <th scope="col">Diaria</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Funcionario</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/inicio.js')}}"></script>
