    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <h3>Login Usuário</h3>
                <div id="form-erro" class="alert alert-danger" role="alert">
                    Erro! verifique seu login e senha e tente novamente
                </div>
                <form name="login_form"> <!--formulario-->
                    <div class="form-group">
                        <label for="txtLogin">Login:</label>
                        <input type="text" class="form-control" id="txtLogin" name="txtLogin" placeholder="Login" >
                        <small id="loginHelp" class="form-text text-muted">Nós nunca vamos compartilhar seu e-mail com mais ninguém.</small>
                    </div>
                    <div class="form-group">
                        <label for="txtSenha">Senha:</label>
                        <input type="password" class="form-control" id="txtSenha" name="txtSenha" placeholder="Senha" >
                        <small id="senhaHelp" class="form-text text-muted">Sua senha é criptografada para sua segurança e privacidade.</small>
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-primary mb-2" id="btnEntrar" name="btnEntrar" value="Entrar">
                        <a href="{{url_for('cliente.cadastro')}}" alt="Cadastro">Ainda não é cadastrado? <strong>Cadastre-se!</strong></a></li>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="{{url_for('static', filename='js/login.js')}}"></script>