    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <main id="contatos">
                    <h3>Sobre</h3>
                    <p>Sistema Desenvolvido Para Disciplina de Projeto de Sistemas Web (PSW)<p>
                    <p>Discente: Abimael Jonas Furtuoso dos Santos</p>
                    <p>Docente: Ygor Amaral Barbosa Leite de Sena</p>
                    <p>Curso de Bacharelado em Sistemas de Informação (BSI)</p>
                    <p>Unidade Acadêmica de Serra Talhada</p>
                    <p>Universidade Federal Rural de Pernambuco</p>
                    <p>UFRPE/UAST</p>
                </main>
            </div>
        </div>
    </div>