
/*
    Fonte titulo: Righteous - 36px
    Fonte Texto: Lusitana - 25px
    Cor de fundo - #6AA69B;
    Cor de destaque - #8C3555
*/

body{
    background-color: #6AA69B; /*Cor de fundo*/
    background-image: url("../fundo.png"); /*Imagem de fundo*/
    background-position: 10% 10%;
    margin: 10px 10px;
}

h1.titulo{
    font-family: 'Righteous', cursive; /*Fonte Titulo*/
    text-align: center;
    font-size: 36px;
}

h1.titulo a{
    font-family: 'Righteous', cursive; /*Fonte Titulo*/
    text-align: center;
    font-size: 36px;
}

h1.titulo a:hover{
    background: #6AA69B;
    color: white;
}

nav{
    position: absolute;
    top: 64px;
    right: 0;
    padding: 20px;
}

p, label, h1, h2, tr{
    font-family: 'Lusitana', serif;
    font-size: 25px;
}

a{
    font-family: 'Lusitana', serif;
    font-size: 25px;
    border-radius: 15px;    
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 5px;
}

a:hover{
    background-color: #8C3555;
    color: white;
}

input{
    display: block;
    font-family: 'Lusitana', serif;
    width: 350px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    /*background-color: rgba(255, 255, 255, 0.01);
    color: white;*/
    outline: none;
}

input[type=button]{
    background: #8C3555;
    border: none;
    cursor: pointer;
    color: white;
}

div.corpo-form{
    text-align: center;
    width: 420px;
    margin: 100px auto 10px auto;
}

nav#barra-menu{
    text-align: center;
    width: 100%;
    overflow: hidden;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

nav#barra-menu ul{
    display: inline-flex;
}

nav#barra-menu li{
    display: block;
    float: left;
}

nav#barra-acesso{
    text-align: center;
    
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

nav#barra-acesso li{
    display: block;
    float: right;
}

td, th{
    text-align: center;
    padding: 10px 10px;
}