#form-erro {
   font-family: 'Lusitana', serif;
   font-size: 25px;
   color: red;
   display: none;
}
#form-sucesso {
   font-family: 'Lusitana', serif;
   font-size: 25px;
   color: green;
   display: none;
}

table.tabela{ /* localização da tabela */
   margin: 2% auto auto auto;
   table-layout: fixed;
   width: 100%;
}

table.tabela thead tr th {
   background: #0D0D0D; /* Linha de cabeçalho com fundo preto */
   color: white;
   overflow: visible;
}
table.tabela tr td{ /* Toda a tabela com fundo azul */
   background: #6BBFA7;
   overflow: visible;
   border-bottom: 1px solid black; /*Divisão entre as linhas*/
}

form.busca {
   display: flex;
}

main#contatos{
   position: relative;
   text-align: center;
   margin-top: 13%;
   background: #6AA69B; /*Mesma cor de fundo*/
}