#form-erro {
   font-family: 'Lusitana', serif;
   font-size: 25px;
   color: red;
   display: none;
}
#form-sucesso {
   font-family: 'Lusitana', serif;
   font-size: 25px;
   color: green;
   display: none;
}