    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <h3>Acervo</h3>
            <!--Mensagens de notificação-->
                <div id="form-sucesso" class="alert alert-success" role="alert">
                    Sucesso
                </div>
                <div id="form-erro" class="alert alert-danger" role="alert">
                    Erro!
                </div>
                <form class="form-inline mb-3"> <!--Formulario de busca-->
                    <div class="form-group">
                        <input type="text" class="form-control" id="txtBuscar" name="txtBuscar" placeholder="Buscar">
                        <input type="button" class="form-control" id="btnBuscar" name="Buscar" value="Buscar">
                    </div>
                </form>
                <table class="table table-striped"> <!--Tabela de livros-->
                    <caption>Livros</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Codigo</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Ano</th>
                            <th scope="col">Editora</th>
                            <th scope="col">Disponiveis</th>
                            <th scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!--        <script src="js/acervo.js"></script>-->
<!--        <script src="js/logout.js"></script>-->
