        <div class="corpo-form">
            <!--Mensagens de notificação-->
            <div id="form-erro"></div>
            <div id="form-sucesso">Atualizado com sucesso!</div>
            <form class="buscaPadrao"> <!--Formulario de busca-->
                <input type="text" id="txtBuscar" name="txtBuscar" placeholder="Buscar">
                <input type="button" id="btnBuscar" name="Buscar" value="Buscar">
            </form>
        </div>

        <table class="tabela" border="1px" cellpadding="5px" cellspacing="0"> <!--Tabela de livros-->
            <caption>Livros</caption>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Ano</th>
                    <th>Editora</th>
                    <th>Disponiveis</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
<!--        <script src="js/acervo.js"></script>-->
<!--        <script src="js/logout.js"></script>-->
