        <div class="form-opcoes">
            <!--Mensagens de notificação-->
            <div id="form-erro"></div>
            <form class="busca"> <!--Formulario de busca-->
                <input type="text" id="txtBuscar" name="txtBuscar" placeholder="Buscar">
                <input type="button" id="btnBuscar" name="Buscar" value="Buscar">
                <!-- <label for="cbxTipo">Tipo:</label> -->
                <select name="cbxTipo" id="cbxTipo">
                    <option value="cliente">Cliente</option>
                    <option value="funcionario">Funcionario</option>
                    <option value="alugado">Alugado</option>
                </select>
                <input type="button" id="btnAlugar" name="btnAlugar" value="Alugar Livro">
                <input type="button" id="btnCadastrarLivro" name="btnCadastrarLivro" value="Cadastrar Livro">
                <input type="button" id="btnCadastrarFuncionario" name="btnCadastrarFuncionario" value="Cadastrar Funcionario">
            </form>
        </div>

        <table class="tabela" border="1px" cellpadding="5px" cellspacing="0"> <!--Tabela de livros-->
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
<!--        <script src="js/admin.js"></script>-->
<!--        <script src="js/logout.js"></script>-->
