        <div class="corpo-form">
            <!--Mensagens de notificação-->
            <div id="form-erro"></div>
            <div id="form-sucesso">Cadastrado com sucesso!</div>
            <form name="cadastro_form" method="POST" action=""> <!--formulario-->
                
                <label for="datLocacao">Data de locação</label>
                <input type="date" placeholder="Data de locação" name="datLocacao" id="datLocacao">

                <label for="datDevolucao">Data de Devolução</label>
                <input type="date" placeholder="Data de Devolução" name="datDevolucao" id="datDevolucao">
                
                <label for="txtDiaria">Diaria</label>
                <input type="text" name="txtDiaria" id="txtDiaria" placeholder="Diaria" >

                <label for="txtLivro">Livro</label>
                <input type="text" name="txtLivro" id="txtLivro" placeholder="Livro" >
                
                <label for="txtCliente">Cliente</label>
                <input type="text" name="txtCliente" id="txtCliente" placeholder="Cliente">

                <label for="txtFuncionario">Funcionario</label>
                <input type="text" name="txtFuncionario" id="txtFuncionario" placeholder="Funcionario" >

                <input type="button" id="btnCadastrar" name="btnCadastrar" value="Cadastrar">
            </form>
        </div>
<!--        <script src="js/aluga.js"></script>-->
<!--        <script src="js/logout.js"></script>-->
