<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <title>Sistema Biblioteca</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet">
    </head>

    <body>

        <header> <!--cabeçalho-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {{inicio}}">
                            <a class="nav-link" href="{{url_for('entrada.index')}}">Inicio<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {{sobre}}">
                            <a class="nav-link" href="{{url_for('entrada.sobre')}}">Sobre<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {{contatos}}">
                            <a class="nav-link" href="{{url_for('entrada.contatos')}}">Contatos</a>
                        </li>

                    </ul>
