    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <h3>Cadastro Livro</h3>
            <!--Mensagens de notificação-->
<!--                <div id="form-erro"></div>-->
<!--                <div id="form-sucesso">Cadastrado com sucesso!</div>-->
                <form name="cadastro_form" method="POST" action=""> <!--formulario-->
                    <div class="form-group">
                        <label for="txtTitulo">Titulo</label>
                        <input type="text" class="form-control" placeholder="Titulo" name="txtTitulo" id="txtTitulo">
                    </div>
                    <div class="form-group">
                        <label for="txtAutor">Autor</label>
                        <input type="text" class="form-control" placeholder="Autor" name="txtAutor" id="txtAutor">
                    </div>
                    <div class="form-group">
                        <label for="txtAno">Ano</label>
                        <input type="text" class="form-control" name="txtAno" id="txtAno" placeholder="Ano" >
                    </div>
                    <div class="form-group">
                        <label for="txtEditora">Editora</label>
                        <input type="text" class="form-control" name="txtEditora" id="txtEditora" placeholder="Editora" >
                    </div>
                    <div class="form-group">
                        <label for="txtCodigo">Codigo</label>
                        <input type="text" class="form-control" name="txtCodigo" id="txtCodigo" placeholder="Codigo">
                    </div>
                    <div class="form-group">
                        <label for="txtQuantidade">Quantidade</label>
                        <input type="text" class="form-control" name="txtQuantidade" id="txtQuantidade" placeholder="Quantidade" >
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" id="btnCadastrar" name="btnCadastrar" value="Cadastrar">
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--        <script src="js/cadastro_livro.js"></script>-->
<!--        <script src="js/logout.js"></script>-->
