    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <h3>Cadastro de Cliente</h3>
            <!--Mensagens de notificação-->
                <div id="form-sucesso" class="alert alert-success" role="alert">
                    Cadastrado com sucesso
                </div>
                <div id="form-erro" class="alert alert-danger" role="alert">
                    Erro ao cadastrar!
                </div>
                <form name="cadastro_form" method="POST" action=""> <!--formulario-->
                    <div class="form-group">
                        <label for="txtNome">Nome</label>
                        <input type="text" class="form-control" name="txtNome" id="txtNome" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <label for="txtCPF">CPF</label>
                        <input type="text" class="form-control" name="txtCPF" id="txtCPF" placeholder="CPF">
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Email</label>
                        <input type="text" class="form-control" name="txtEmail" id="txtEmail" placeholder="Email" >
                    </div>
                    <div class="form-group">
                        <label for="txtTelefone">Telefone</label>
                        <input type="text" class="form-control" name="txtTelefone" id="txtTelefone" placeholder="Telefone" >
                    </div>
                    <div class="form-group">
                        <label for="txtLogin">Login</label>
                        <input type="text" class="form-control" name="txtLogin" id="txtLogin" placeholder="Login">
                    </div>
                    <div class="form-group">
                        <label for="txtSenha">Senha</label>
                        <input type="password" class="form-control" name="txtSenha" id="txtSenha" placeholder="Senha" >
                    </div>
                    <div class="form-group">
                        <label for="txtConfirmaSenha">Confirmar Senha</label>
                        <input type="password" class="form-control" name="txtConfirmaSenha" id="txtConfirmaSenha" placeholder="Confirmar Senha">
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" name="btnCadastrar" id="btnCadastrar" value="Cadastrar">
                    </div>
                </form>
          </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/cadastro_cliente.js')}}"></script>