<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <title>Sistema Biblioteca</title>
        <link href="css/reset.css" rel="stylesheet">
        <link href="css/aparencia.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet">
    </head>

    <body>
        <header> <!--cabeçalho-->
            <div>
                <h1 class="titulo"><a href="../index.html" alt="Pagina Principal">Sistema Biblioteca</a></h1>
            </div>
            
            <nav id="barra-menu"> <!--junção de links-->
                <ul>
                    <li><a href="../index.html" alt="Pagina Inicial">Inicio</a></li>
                    <li><a href="" alt="Sobre">Sobre</a></li>
                </ul>
            </nav>
        </header>

        <div class="corpo-form">
            <h2>Preencha todos os dados!</h2>
            <form name="cadastro_form" method="POST" action=""> <!--formulario-->
                
                <label for="txtNome">Nome</label>
                <input type="text" placeholder="Nome" name="txtNome" id="txtNome">

                <label for="txtEmail">Email</label>
                <input type="text" name="txtEmail" id="txtEmail" placeholder="Email" >

                <label for="txtCargo">Cargo</label>
                <input type="text" name="txtCargo" id="txtCargo" placeholder="Cargo" >
                
                <label for="txtLogin">Login</label>
                <input type="text" placeholder="Login" name="txtLogin" id="txtLogin">

                <label for="txtSenha">Senha</label>
                <input type="password" name="txtSenha" id="txtSenha" placeholder="Senha" >

                <label for="txtConfirmaSenha">Confirmar Senha</label>
                <input type="password" name="txtConfirmaSenha" id="txtConfirmaSenha" placeholder="Confirmar Senha">

                <input type="button" id="btnCadastrar" name="btnCadastrar" value="Cadastrar">
            </form>
        </div>

        <script src="js/cadastro_funcionario.js"></script>
    </body>

</html>