    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <main id="contatos">
                    <h3>Contatos</h3>
                    <p>Telefone: (88)9 8116-9372</p>
                    <p>Email Pricipal: maelsantos777@gmail.com</p>
                    <p>Email Acadêmico: abimael.santos@ufrpe.br</p>
                    <p><a href="https://www.facebook.com/profile.php?id=100014350898752" target="_blank">Ir para Facebook</a></p>
                    <p><a href="https://www.instagram.com/mael_santos7/" target="_blank">Ir para Instagram</a></p>
                </main>
            </div>
        </div>
    </div>