    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <main id="contatos">
                    <h3>Contatos</h3>
                    <p>ABIMAEL JONAS FURTUOSO DOS SANTOS<p>
                    <p>DISCENTE NO CURSO BACHARELADO EM SISTEMAS DE INFORMAÇÃO</p>
                    <p>UNIDADE ACADÊMICA DE SERRA TALHADA / UNIVERSIDADE FEDERAL RURAL DE PERNANBUCO</p>
                    <p>CONTATOS:<p>
                    <p>Telefone: (88)9 8116-9372</p>
                    <p>Email: maelsantos777@gmail.com</p>
                    <a href="https://www.facebook.com/profile.php?id=100014350898752" alt="CafePraza" target="_blank">Ir para Facebook</a>
                </main>
            </div>
        </div>
    </div>