<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <title>Sistema Biblioteca</title>
        <link href="css/reset.css" rel="stylesheet">
        <link href="css/aparencia.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet">
    </head>

    <body>        
        <header> <!--cabeçalho-->
            <div>
                <h1 class="titulo"><a href="../index.html" alt="Pagina Principal">Sistema Biblioteca</a></h1>
            </div>
        
            <nav id="barra-menu"> <!--junção de links-->
                <ul>
                    <li><a href="../index.html" alt="Pagina Inicial">Inicio</a></li>
                    <li><a href="" alt="Sobre">Sobre</a></li>
                    <li><a href="contatos.html" alt="Contatos">Contatos</a></li>
                </ul>
            </nav>
        </header>

        <div>
            <p>ABIMAEL JONAS FURTUOSO DOS SANTOS<p>
            <p>DISCENTE NO CURSO BACHARELADO EM SITEMAS DE INFORMAÇÃO</p>
            <p>UNIDADE ACADÊMICA DE SERRA TALHADA / UNIVERSIDADE FEDERAL RURAL DE PERNANBUCO</p>
        </div>
        <div>
            <p>CONTATOS<p>
            <p>Tel : (88)9 8116-9372</p>
            <p>email : maelsantos777@gmail.com</p>
            <a href="https://www.facebook.com/profile.php?id=100014350898752" alt="CafePraza" target="_blank">Ir para Facebook</a>

        </div>

    </body>
</html>