<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <title>Sistema Biblioteca</title>
        <link href="css/reset.css" rel="stylesheet">
        <link href="css/aparencia.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet">
    </head>

    <body>
        <header> <!--cabeçalho-->
            <div>
                <h1 class="titulo"><a href="../index.html" alt="Pagina Principal">Sistema Biblioteca</a></h1>
            </div>
            
            <nav id="barra-menu"> <!--junção de links-->
                <ul>
                    <li><a href="../index.html" alt="Pagina Inicial">Inicio</a></li>
                    <li><a href="" alt="Sobre">Sobre</a></li>
                    <li><a href="contatos.html" alt="Contatos">Contatos</a></li>
                </ul>
            </nav>
        </header>

        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Ano</th>
                    <th>Editora</th>
                    <th>Disponiveis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class='col_codigo'>0001-A</td>
                    <td class='col_titulo'>Os que não foram</td>
                    <td class='col_autor'>Ninguem Importante</td>
                    <td class='col_ano'>2019</td>
                    <td class='col_editora'>Sei la bixo</td>
                    <td class='col_disponivel'>100</td>
                    <td><a class='editar' href='javascript:void(0)'>Editar</a> / <a class='excluir' href='javascript:void(0)'>Excluir</a></td>
                </tr>
            </tbody>
        </table>
    </body>

</html>