               <li class="nav-item {{acervo}}">
                            <a class="nav-link" href="{{url_for('livro.acervo')}}">Acervo</a>
                        </li>
               </ul>
                <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item {{perfil}}">
                            <a class="nav-link" href="{{url_for('entrada.perfil')}}">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('entrada.logout')}}">Sair</a>
                        </li>
                     </ul>
                </div>
            </nav>
        </header>