    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <h3>Login Funcionario</h3>
<!--                <div id="form-erro"></div> &lt;!&ndash;Mensagem de erro&ndash;&gt;-->
                <form name="login_form" method="GET" action=""> <!--formulario-->
                    <div class="form-group">
                        <label for="txtLogin">Login:</label>
                        <input type="text" class="form-control" id="txtLogin" name="txtLogin" placeholder="Login" >
                    </div>
                    <div class="form-group">
                        <label for="txtSenha">Senha:</label>
                        <input type="password" class="form-control" id="txtSenha" name="txtSenha" placeholder="Senha" >
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" id="btnEntrar" name="btnEntrar" value="Entrar">
                    </div>
                </form>
            </div>
        </div>
    </div>

        <!--    <script src="js/login_funcionario.js"></script>-->