        <div class="corpo-form">
            <div id="form-erro"></div> <!--Mensagem de erro-->
            <form name="login_form" method="GET" action=""> <!--formulario-->
                <label for="txtLogin">Login:</label>
                <input type="text" id="txtLogin" name="txtLogin" placeholder="Login" >

                <label for="txtSenha">Senha:</label>
                <input type="password" id="txtSenha" name="txtSenha" placeholder="Senha" >

                <input type="button" id="btnEntrar" name="btnEntrar" value="Entrar">
                <a href="cadastro_cliente.php" alt="Cadastro">Ainda não é cadastrado? <strong>Cadastre-se!</strong></a></li>
            </form>
        </div>

<!--    <script src="js/login_cliente.js"></script>-->