    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <table class="table table-striped" id="perfil" class="tabela" border="1px" cellpadding="5px" cellspacing="0"> <!--Tabela de livros-->
                    <thead class="thead-dark">
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            <!--Mensagens de notificação-->
'               <div id="form-sucesso" class="alert alert-success" role="alert">
                    Atualizado com sucesso
                </div>
                <div id="form-erro" class="alert alert-danger" role="alert">
                    Erro ao atualizar!
                </div>
                <form class="form-inline mb-3"> <!--formulario-->
                    <div class="form-group mr-3">
                        <input type="button" class="btn btn-primary" id="btnApagar" name="btnApagar" value="Apagar Conta">
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" id="btnEditar" name="btnEditar" value="Editar">
                    </div>
                </form>
                <form> <!--formulario-->
                    <div class="form-group">
                        <label for="txtSenha">Senha</label>
                        <input type="password" class="form-control" name="txtSenha" id="txtSenha" placeholder="Senha" >
                    </div>
                    <div class="form-group">
                        <label for="txtConfirmaSenha">Confirmar Senha</label>
                        <input type="password" class="form-control" name="txtConfirmaSenha" id="txtConfirmaSenha" placeholder="Confirmar Senha">
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" id="btnSenha" name="btnSenha" value="Alterar Senha">
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--        <script src="js/logout.js"></script>-->
<!--        <script src="js/perfil.js"></script>-->
