
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <div id="form-sucesso" class="alert alert-success" role="alert">
                    Reserva cadastrada com sucesso
                </div>
                <div id="form-erro" class="alert alert-danger" role="alert">
                    Erro ao cadastrar reserva!
                </div>
                <h3>Reserva Livro</h3>
                <form name="cadastro_form" method="POST" action=""> <!--formulario-->
                <div class="form-group">
                    <label for="txtReserva">Data de Reserva</label>
                    <input type="date"class="form-control" id="txtReserva" name="txtReserva" placeholder="Data de Reserva">
                </div>
                <div class="form-group">
                    <label>Data de Retirada</label>
                    <input type="date"class="form-control" id="txtRetirada" name="txtRetirada" placeholder="Data de Retirada">
                </div>
                <div class="form-group">
                    <label for="txtCliente">Cliente:</label>
                    <input type="text"class="form-control" id="txtCliente" name="txtCliente" placeholder="Cliente" value={{cliente}}>
                </div>
                <div class="form-group">
                    <label for="txtLivro">Livro:</label>
                    <input type="text"class="form-control" id="txtLivro" name="txtLivro" placeholder="Livro" value={{codigo}}>
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-primary" id="btnConfirmar" name="btnConfimar" value="Confirmar">
                </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/reserva.js')}}"></script>
