<!--<?php-->

<!--session_start();-->
<!--if(isset($_SESSION['logado'])) {-->
<!--} else {-->
<!--    $_SESSION['falhou'] = 'sim';-->
<!--    header("Location: ../index.php");-->
<!--}-->

<!--try { //força a entrada somente se informar os dados do cliente e do livro-->
<!--    $livro = $_GET['livro'];-->

<!--    if($livro == null)-->
<!--        header("Location: acervo.php");-->

<!--} catch (\Throwable $th) {-->
<!--    header("Location: acervo.php");-->
<!--}-->

<!--?>-->
    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <div id="form-sucesso" class="alert alert-success" role="alert">
                    Reserva cadastrada com sucesso
                </div>
                <div id="form-erro" class="alert alert-danger" role="alert">
                    Erro ao cadastrar reserva!
                </div>
                <h3>Reserva Livro</h3>
                <form name="cadastro_form" method="POST" action=""> <!--formulario-->
                <div class="form-group">
                    <label for="txtReserva">Data de Reserva</label>
                    <input type="date"class="form-control" id="txtReserva" name="txtReserva" placeholder="Data de Reserva">
                </div>
                <div class="form-group">
                    <label>Data de Retirada</label>
                    <input type="date"class="form-control" id="txtRetirada" name="txtRetirada" placeholder="Data de Retirada">
                </div>
                <div class="form-group">
                    <label for="txtCliente">Cliente:</label>
                    <input type="text"class="form-control" id="txtCliente" name="txtCliente" placeholder="Cliente" value=<?php echo $_SESSION['logado']?>>
                </div>
                <div class="form-group">
                    <label for="txtLivro">Livro:</label>
                    <input type="text"class="form-control" id="txtLivro" name="txtLivro" placeholder="Livro" value=<?php echo $livro?> >
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-primary" id="btnConfirmar" name="btnConfimar" value="Confirmar">
                </div>
                </form>
            </div>
        </div>
    </div>
<!--        <script src="js/reserva.js"></script>-->
<!--        <script src="js/logout.js"></script>-->
